myenv
.DS_Store

data/train.pq
data/test.pq
data/books.pq

materials/models/catboost/catboost_data.pkl
materials/models/lightgbm/lightgbm_data.pkl
materials/models/
materials/knn_model.pkl
materials/popular_model.pkl

materials/solutions/lightsol/knn_model.pkl
materials/solutions/lightsol/lfm_model.pkl
materials/solutions/lightsol/popular_model.pkl